@model TDFSv4.Models.Client;
@{
    ViewBag.Title = "Добавление клиента";
}
<form asp-action="Create" asp-controller="Clients" id="ClientForm">
    <div class="mb-3">
        <label asp-for="Name" class="control-label">Имя</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Type" class="control-label">Тип</label>
        <select asp-for="TypeId" asp-items="ViewBag.Types"></select>
    </div>

    <div class="mb-3">
        <label asp-for="Tin" class="control-label">ИНН клиента</label>
        <input type="number" asp-for="Tin" class="form-control" />
    </div>

    <div class="mb-3">
        <input type="button" id="CreateFounderButton" value="Добавить учредителя" />
    </div>

    <div class="mb-3">
        <input type="submit" value="Отправить" />
    </div>
</form>

<script>
        $("#CreateFounderButton").click(function () {
            let form = $('#ClientForm');
            var lastField = form.find(".founder:last");

            var i = (lastField && lastField.length && lastField.data("idx") + 1) || 0;

            if (form.find('[name=TypeId]').val() == 2 && i > 0)
                return;

            var fieldsWrap = $(`<div class=\"mb-3\ founder" />`);
            var fields = $(`
            <label asp-for=\"Fio\" class=\"control-label\">Фио учредителя</label>
            <input type=\"text\" class=\"form-control\" name=\"Founders[${i}].Fio\"/>
            <label asp-for=\"Tin\" class=\"control-label\">Инн учредителя</label>
            <input type=\"text\" class=\"form-control\" name=\"Founders[${i}].Tin\"/>`);
            fieldsWrap.data("idx", i);

            var removeButton = $("<input type=\"button\" value=\"Удалить учредителя\"/>");

            removeButton.click(function () {
                $(this).parent().remove();
            });

            fieldsWrap.append(fields);
            fieldsWrap.append(removeButton);
            form.append(fieldsWrap);
        });
</script>